<form action="/register" method="POST" class="card p-6">
  <input name="username" placeholder="Username" />
  <input name="email" placeholder="Email" />
  <input name="password" type="password" />
  <button class="btn btn-primary">Register</button>
</form>
